google_sheet_name = "vehicle_gate_pass_data"

hr_password = "YOUR_HR_PASSWORD"
security_password = "YOUR_SECURITY_PASSWORD"
admin_password = "YOUR_ADMIN_PASSWORD"


[manager_passwords]

admin_manager = "ADMIN_MANAGER_PASSWORD"
finance_manager = "FINANCE_MANAGER_PASSWORD"
hr_manager = "HR_MANAGER_PASSWORD"
sales_manager = "SALES_MANAGER_PASSWORD"
operations_manager = "OPERATIONS_MANAGER_PASSWORD"
it_manager = "IT_MANAGER_PASSWORD"


[driver_passwords]

driver01 = "DRIVER01_PASSWORD"
driver02 = "DRIVER02_PASSWORD"
driver03 = "DRIVER03_PASSWORD"


[google_service_account]

type = "service_account"

project_id = "YOUR_PROJECT_ID"

private_key_id = "YOUR_PRIVATE_KEY_ID"

private_key = "-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----\n"

client_email = "YOUR_SERVICE_ACCOUNT_EMAIL"

client_id = "YOUR_CLIENT_ID"

auth_uri = "https://accounts.google.com/o/oauth2/auth"

token_uri = "https://oauth2.googleapis.com/token"

auth_provider_x509_cert_url = "https://www.googleapis.com/oauth2/v1/certs"

client_x509_cert_url = "YOUR_CLIENT_CERT_URL"
